body {
    max-width: 2560px;
    background: url('img/index/background_img.jpg') no-repeat 0 0;
    background-color: black;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: white;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}

.nav-link:hover,
.nav-link:focus,
.user-link:hover,
.user-link:focus {
    background-color: #242424;
}


/* свойства header */

.header {
    display: flex;
    margin-bottom: 80px;

    background-color: black;
    
    /* для сертки */
    min-height: 286px;
    border: 1px dashed white;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 940px;

    /* для сертки */
    /* border: 1px solid yellow;*/
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    /* для сетки     */
    /* border: 1px solid red;
    min-height: 72px;
    width: 550px; */
}

.user-list {
    margin: 0;
    padding: 0;

    list-style: none;

    /* для сетки */
    /* border: 1px solid red;
    min-height: 72px;
    width: 100px; */
}


.logo-link {
    margin-top: 30px;
    width: 371px;
    height: 155px;

    /* для сетки */
    /* border: 1px solid red;   */
}

.nav .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* свойства main */

.main-page {
    width: 940px;
    margin: 0 auto;

    /* для сетки */
    border: 1px dashed yellow;
}

.features {
    margin-bottom: 80px;
}

.features-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;

    /* для сетки */
    border: 1px solid red;
}

.feature-item {
    width: 300px;
    text-align: center;

    /* для сетки */
    border: 1px solid white;
}

.feature-item h3 {
    font-size: 30px;
}

/* оформление секций main с колонками */

.column-layout {
    height: 420px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding: 50px 80px;

    color: black;
    background-color: #f8f5f2;
    /* background: url("img/index/background_section_img.jpg") repeat; */
    
    /* для сетки */
    border: 1px solid red;
}

.column-layout h2 {
    font-size: 30px;
    line-height: 42px;
}

.news {
    width: 380px;
    margin: 0;
    padding: 0;
    /* для сетки */
    border: 1px solid green;
}

.news-list {


    list-style: none;
}

.news time {
    text-transform: lowercase;
}

.button {
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}

.button:hover,
.button:active,
.button:focus {
    background-color: #663d15;
}

.gallery {

    width: 300px;
    /* для сетки */
    border: 1px solid green;
}

.gallery-content {
    margin: 35px 0;
    padding: 0;

    background-color: white;
    border: 7px solid white;
}

/* доработка фото (отступы) */