body {
    width: 2560px;
    height: 1756px;
    background: url('barbershop-index.jpg') no-repeat 0 0;
}



/* шапка */
.header{
    margin-bottom: 75px;
}

/* навигация */
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* для сетки */
    /* border: 1px solid yellow;
    height: 290px; */
}

.header .container {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 60px;

    /* для сетки */
    border: 1px solid red;
}

.nav-list {
    width: 550px;

    /* для сетки */
    border: 1px dashed green;
}

.user-list {
    width: 150px;

    /* для сетки */
    border: 1px dashed green;
}

/* главный логотип */
.nav .logo-link {
    width: 371px;
    height: 155px;
    margin: 0 auto;

    /* для сетки */
    border: 1px dashed green;
}



/* оформление main  */
.main-page {
    /* border: 1px solid yellow; */
    margin-bottom: 65px;
}


/* оформление Преимущества */
.features {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 85px;

    /* для сетки */
    /* border: 1px solid red; */
    height: 160px; 
}

.features-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.features-list .feature-item {
    width: 300px;

    list-style: none;

    /* для сетки */
    border: 1px dashed green;
    height: 160px;
}


/* оформление Новости и Галерея */
.column-layout {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding: 50px 80px;
    box-sizing: border-box;

    /* для сетки */
    border: 1px dashed green;
    height: 420px;
}

.column-layout:first-of-type {
    margin-bottom: 35px;
}

.column-layout:last-of-type {
    height: 435px;
}

.news {
    width: 380px;
    
    /* для сетки */
    border: 1px dashed green;  
}

.gallery {
    width: 300px;

    /* для сетки */
    border: 1px dashed green;
}

.contacts {
    width: 380px;
    
    /* для сетки */
    border: 1px dashed green;  
}

.booking {
    width: 300px;

    /* для сетки */
    border: 1px dashed green;
}


/* оформление footer  */

.footer {
    margin-bottom: 0;
    
    /* для сетки */
    border: 1px dashed green;
}

.footer .container {
    display: flex;
    width: 940px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 40px;
    

    /* для сетки */
    height: 90px;
    border: 1px solid red;
}

.footer-contacts {
    margin-right: 90px;

    /* для сетки */
    border: 1px dashed green;
    width: 310px;
}

.footer-socials {
    width: 140px;
    
    /* для сетки */
    border: 1px dashed green;
}

.footer-copyrights {
    margin-left: auto;
    width: 140px;

    /* для сетки */
    border: 1px dashed green;
}